<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kutu">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".message.MessageActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Simple_Theme_2"
            android:exported="false" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Simple_Theme_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Simple_Theme_2" />

        <receiver android:name=".receiver.SmsBD"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>